.navbar .nav > li > a {
  line-height: 29px;
}
table.datatable {
  thead th {
    padding-right: 18px;
  }
  tfoot.search {
    display: table-header-group;
  }
}
.datatable_wrapper, .panel-body {
  overflow: hidden;
}
body.tray-rescale .tray-center {
  padding-right: 0 !important;
}
.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.datepicker {
  padding: 0;
}

div#files-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
  .file-item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 24.6%;
    height: 29rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin-bottom: 1rem;
    &.gap {
      border: none;
      padding: 0;
      height: 0;
      margin: 0;
    }
  }
  .file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.5rem;
  }
  .file-preview {
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .doc .file-preview {
    background-size: 55%;
  }
}

.select-gen .selectize-input, .select .selectize-input {
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  padding: 9px 12px;
  font-size: 13px;
  line-height: 1.49;
  color: #555555;
}
