.navbar .nav > li > a {
  line-height: 29px;
}
table.datatable {
  thead th {
    padding-right: 18px;
  }
  tfoot.search {
    display: table-header-group;
  }
}
.datatable_wrapper, .panel-body {
  overflow: hidden;
}
body.tray-rescale .tray-center {
  padding-right: 0 !important;
}