.form-group {
  margin-bottom: 2rem;
  &.datepicker {
    padding: 0;
    input {
      background-image: url('/img/icon/calendar.svg');
      background-position: 100% 0;
      background-repeat: no-repeat;
    }
  }
  label {
    font-weight: bold;
    color: #999;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
  input, textarea {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 0 0 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    &:focus {
      box-shadow: none;
    }
  }
  textarea {
    resize: none;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .form-group.datepicker {
    input {
      background-size: 1.7rem;
    }
  }
}

.no-cursor:hover {
  cursor: default;
}

.btn {
  max-width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1.3rem 5.1rem;
  color: #999;
  letter-spacing: 0.7px;
  border-radius: 0.9rem;
  &.btn-big {
    font-size: 1.7rem;
    padding: 1.3rem 6rem;
    letter-spacing: 0.8px;
  }
  &.btn-primary {
    background-color: #014479;
    border-color: #014479;
    color: #fff;
    &:hover {
      background-color: #0966af;
    }
  }
  &.btn-dgrey {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
    color: #fff;
    &:hover {
      background-color: #868686;
    }
  }
  &.btn-red {
    background-color: #d0021b;
    border-color: #d0021b;
    color: #fff;
    &:hover {
      background-color: #ba0319;
      border-color: #ba0319;
    }
  }
  &.btn-cancel:hover {
    color: #000;
  }
  &.btn-tbig {
    font-size: 1.7rem;
    padding: 0.9rem 5.1rem;
  }
  &.btn-i {
    background-repeat: no-repeat;
    background-size: 1.9rem;
    padding-left: 7.5rem;
    padding-right: 3rem;
    background-position: 2.8rem 50%;
    min-width: 18rem;
    &.i-warn {
      background-image: url('/img/icon/warn.png');
    }
    &.i-ok {
      background-image: url('/img/icon/ok.svg');
    }
    &.i-change {
      background-image: url('/img/icon/change.png');
    }
  }
}
.btn.focus, .btn:focus, textarea:focus {
  box-shadow: none;
  outline: none;
}
@media (max-width: 1000px) {
  .btn.btn-tbig {
    font-size: 1.4rem;
  }
}
@media (max-width: 650px) {
  .btn {
    padding: 1.1rem 3.2rem;
  }
}

.btn-group-toggle {
  display: flex;
  .big-radio {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
    padding: 1rem 0 0;
    .label {
      font-size: 3.5rem;
      color: #333;
      background-color: #f1f1f1;
      border: 3px solid #f1f1f1;
      border-radius: 5rem;
      width: 74px;
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      transition: ease 0.2s;
      .fa-venus:before {
        position: relative;
        left: 1px;
      }
      &.label-dog { background-image: url('/img/icon/dog.svg'); background-size: 50px; }
      &.label-cat { background-image: url('/img/icon/cat.svg'); background-size: 40px; }
    }
    &.focus {
      box-shadow: none;
    }
    &.active span.label {
      border: 3px solid #014479;
    }
  }
  & > label:first-child {
    margin-right: 5.7rem;
  }
  &.checkbox-group {
    justify-content: space-between;
    flex-flow: row wrap;
    .checkbox-item {
      width: 15.7rem;
      color: #333;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 1rem 1.4rem;
      background-color: #f1f1f1;
      border: 2px solid #f1f1f1;
      transition: ease 0.3s;
      transition-property: padding, border;
      &.active {
        background-image: url('/img/icon/check.svg');
        background-position: 8% 50%;
        background-repeat: no-repeat;
        padding-left: 3.4rem;
        border: 2px solid #014479;
      }
    }
    > label:first-child {
      margin-right: 0;
    }
  }
  &.readonly > label {
    cursor: default !important;
  }
}
@media (max-width: 650px) {
  .btn-group-toggle {
    justify-content: center;
    .big-radio {
      flex-direction: column;
      align-items: center;
      .label {
        margin-right: 0;
      }
    }
  }
}

.selectize-input.items {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  font-size: 1.4rem;
  font-weight: 500;
}

.file-uploader {
  .file-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px dashed #999;
    border-radius: 1rem;
    color: #999;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
    span.desktop { display: inline; }
    span.mobile { display: none; }
  }
  .file-item {
    display: flex;
    position: relative;
    padding: 1.4rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.4rem;
    font-weight: 500;
    &:last-child {
      border-bottom: none;
    }
    .file-name {
      max-width: 77%;
      overflow: hidden;
      white-space: nowrap;
    }
    .file-ext {
      color: #999;
      max-width: 17%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }.file-delete {
       position: absolute;
       top: 20%;
       right: 0;
       background-image: url('/img/icon/delete.svg');
       background-repeat: no-repeat;
       background-position: 100% 50%;
       width: 1.5rem;
       height: 60%;
       cursor: pointer;
     }
  }
  input {
    display: none;
  }
}
@media (max-width: 650px) {
  .file-uploader .file-dropzone {
    text-align: center;
    font-size: 2rem;
    span.desktop { display: none; }
    span.mobile { display: inline; }
  }
}

.validation-error {
  font-size: 1rem;
  &.hidden {
    display: none;
  }
}
.form-control:disabled, .form-control[readonly] {
  background-color: unset;
}

.uploader-overlay {
  position: fixed;
  top: 0;
  left:  0;
  width:  100%;
  height:  100%;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  background: rgba(0,0,0,0.6);
  z-index: 10;
  .uploader-progress {
    width: 22%;
    height: fit-content;
    padding: 0 2rem 1.7rem;
    text-align:  center;
    background: #f3f3f2;
    border-radius: 1rem;
    .value {
      font-size: 4rem;
    }
  }
}
@media (max-width: 1000px) {
  .uploader-overlay {
    .uploader-progress {
      width: 28%;
      .value {
        font-size: 3rem;
      }
    }
  }
}
@media (max-width: 700px) {
  .uploader-overlay {
    .uploader-progress {
      width: 40%;
      .value {
        font-size: 2.8rem;
      }
    }
  }
}
