header {
  background-color: #014479;
  padding: 26px 30px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: start;
  .menu-btn {
    display: none;
  }
  .name {
    display: flex;
    .title {
      display: flex;
      flex-flow: column;
      padding: 0 30px 16px;
      color: #fff;
      & > span {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        a {
          text-transform: uppercase;
          text-decoration: none !important;
        }
      }
      .sub-title {
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 0.4rem;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .auth {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 15px;
    height: 100px;
    .auth-item {
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 25px;
      padding: 0 10px 0 40px;
      width: 150px;
      color: #fff;
      font-size: 1rem;
      letter-spacing: 0.2px;
      line-height: 1.4rem;
      min-height: 32px;
      overflow: hidden;
      &.profile { background-image: url('/img/icon/person.svg'); }
      &.logout { background-image: url('/img/icon/off.svg'); }
    }
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4d7ca1;
    nav {
      display: flex;
      align-items: center;
      .nav-divider {
        width: 1px;
        height: 2.1rem;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0 1.4rem;
      }
    }
    a.nav-item {
      display: inline-block;
      padding: 1.4rem;
      cursor: pointer;
      color: #fff;
      font-size: 1.15rem;
      font-weight: 600;
      letter-spacing: 0.3px;
      &.active {
        text-decoration: underline;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .socials-item {
        display: block;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        cursor: pointer;
        width: 30px;
        height: 28px;
        opacity: 0.7;
        margin: 0 9px;
        &.socials-item-facebook { background-image: url('/img/icon/fb.svg'); }
        &.socials-item-youtube { background-image: url('/img/icon/yt.svg'); }
        &.socials-item-twitter { background-image: url('/img/icon/twitter.png'); }
      }
    }
    &:after { content: none; }
    &:before { content: none; }
  }
}
@media (max-width: 900px) {
  header .nav {
    justify-content: center;
    nav {
      width: 100%;
      justify-content: space-around;
      .nav-divider {
        padding: 1.4rem 0;
        margin: 0;
      }
    }
    a.nav-item {
      padding: 1.4rem 0;
      margin: 0;
    }
    .socials {
      margin: 1rem 0 1.5rem;
    }
  }
}
@media (max-width: 750px) {
  header {
    .name {
      width: 100%;
    }
    .auth {
      flex-flow: row;
      width: 100%;
      justify-content: center;
      padding-left: 12%;
      padding-bottom: 0;
      height: 6rem;
      .auth-item {
        width: 35%;
      }
    }
  }
}
@media (max-width: 650px) {
  header {
    padding: 20px 10px 0;
  }
}
@media (max-width: 600px) {
  header {
    justify-content: start;
    .menu-btn {
      display: block;
    }
    .name {
      width: auto;
      padding-left: 1rem;
      img.logo {
        display: none;
      }
      .title {
        padding: 0 5px;
        > span {
          font-size: 1.8rem;
        }
      }
    }
    .auth {
      border-top: 1px solid transparent;
      margin-top: 1rem;
      transition: 0.3s ease;
      max-height: 0;
      overflow: hidden;
      .auth-item {
        width: 50%;
        &.logout {
          width: 35%;
        }
      }
    }
    .nav {
      border-top: 1px solid transparent;
      transition: 0.3s ease;
      max-height: 0;
      overflow: hidden;
      nav {
        flex-flow: row wrap;
        .nav-divider {
          display: none;
        }
      }
      a.nav-item {
        padding: 1.4rem;
      }
    }
    &.menu-open {
      .auth {
        border-top: 1px solid #4d7ca1;
        max-height: 5rem;
      }
      .nav {
        border-top: 1px solid #4d7ca1;
        max-height: 20rem;
      }
    }
  }
}
@media (max-width: 400px) {
  header .name .title > span {
    font-size: 1.5rem;
  }
}
@media (max-width: 340px) {
  header {
    padding: 20px 4px 0;
    .menu-btn {
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 22px;
      }
      .hamburger-box {
        width: 22px;
      }
      .hamburger-inner::before {
        width: 16px;
      }
    }
    .name {
      width: 88%;
      padding-left: 0;
      .title {
        padding: 0;
      }
    }
  }
}

