@font-face {
  font-family: 'Marker Felt';
  src: url('/fonts/MarkerFelt-Wide.woff2') format('woff2'),
  url('/fonts/MarkerFelt-Wide.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


.pet-photo-hint {
  position: absolute;
  background-image: url('/img/icon/arrow.svg');
  background-position: center;
  background-position: 100% 0;
  background-repeat: no-repeat;
  width: 192px;
  height: 88px;
  top: 12rem;
  left: 6rem;
  display: flex;
  align-items: flex-end;
  font-family: 'Marker Felt';
  font-size: 1.3rem;
  line-height: normal;
  color: #b4d6db;
  div {
    text-align: center;
    width: 79%;
  }
}

.new-pet-photos {
  display: flex;
  justify-content: stretch;
  label.photo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 1.5rem;
    width: 7.5rem;
    height: 7.5rem;
    border: 2px dashed #999;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &.filled .add-btn {
      display: none;
    }
    > input {
      display: none;
    }
    &.photo-item-main {
      width: 16rem;
      height: 16rem;
      background-color: #ecf5f6;
      flex-shrink: 0;
      margin: 0 1rem 0 0;
      .add-btn {
        width: 4.2rem;
        height: 4.2rem;
      }
    }
    .add-btn {
      font-size: 2.8rem;
      line-height: 2.1rem;
      font-weight: 100;
      width: 2.1rem;
      height: 2.1rem;
      background-image: url(/img/icon/add.svg);
      background-size: 100%;
    }
  }
  .small-photos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}






